requests
python-dotenv
openai
langchain_google_genai
langsmith
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
youtube-transcript-api
google-api-python-client
sentence-transformers
faiss-cpu
tqdm
numpy