requests
python-dotenv
openai
langchain==0.3.26 
langchain-core==0.3.66 
langchain-openai==0.3.25 
langchain-community==0.3.26 
langchain-chroma==0.2.4 
langchain-text-splitters==0.3.8 
langsmith
langgraph==0.4.8 
youtube-transcript-api
google-api-python-client
sentence-transformers
faiss-cpu
tqdm
numpy
ipython